@{
    ViewData["Title"] = "Not Found";
}
<section id="section-hero" class="section-dark no-top no-bottom text-light jarallax relative mh-500 jarallax">
    <img src="~/assets/images/background/4.webp" class="jarallax-img" alt="">
    <div class="gradient-edge-bottom h-50"></div>
    <div class="sw-overlay op-5"></div>
    <div class="abs w-80 bottom-10 z-2 w-100">
        <div class="container">
            <div class="row align-items-center justify-content-between gx-5">
                <div class="col-lg-6">
                    <div class="relative wow mask-right">
                        <div class="text-start">
                            <h1 class="fs-96 text-uppercase fs-sm-10vw mb-0 lh-1">404
                                <br />
                                Page Not Found
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 wow fadeInRight" data-wow-delay=".3s">
                    <p class="mb-0">Your request could not be found.<a asp-action="Index" asp-controller="Home" class="text-decoration-none">Back to the home page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
   